/* dialog 样式改写

全局窗体激活状态:
.modal_active{

    el-dialog-header:background-color:#FFF;
    el-dialog-body:background-color: #FFF;
}
反之，进行以下设置
{
    el-dialog-header:background-color:#D5D7E0;
    el-dialog-body:background-color: #F0F0F4;
}
窗体内所有内容的background-color皆为rgba(0,0,0,0);

*/



// // 需要设置的背景色
// // el-dialog__body {background-color: gainsboro;}
// // 卡片 el-card {background-color: rgba(0,0,0,0);}
// // 表体 el-table {background-color: rgba(0,0,0,0);}
// .is_active {

//     /* 窗体背景色 */
//     .el-dialog__body {
//         background-color: #F0F0F4;
//     }

//     .el-form {
//         background-color: rgba(0, 0, 0, 0);
//     }

//     // el-table 表体背景色置为透明
//     .el-table tr {
//         background-color: rgba(0, 0, 0, 0);
//     }
// }

/* 当前如果为激活窗体 设置其背景色为#FFF */
.modal_active {
    background-color: #FFF;

    /* el-dialog窗体自定义样式 */
    .modal_style {
        /* 激活状态下，窗体置为 白色，优先级越权为最高 */
        background-color: #FFF !important;

        .el-dialog__header {
            .dialog-header {
                /* 激活状态下，窗体头部背景色，优先级越权为最高 */
                background-color: #707896 !important;

                span {
                    color: #E6e6e7 !important;
                }

                .icon-btns {
                    i {
                        color: #E6e6e7 !important;
                    }
                }
            }
        }

        .el-dialog__body {

            /* 窗体 —— 列表页 */
            .modal_list {
                .el-table {
                    // background-color: rgba(0, 0, 0, 0) !important;


                    // .el-table--striped .el-table__body tr.el-table__row--striped.current-row td,
                    // .el-table__body tr.current-row>td {
                    //     background-color: #dbe0f3 !important;
                    // }


                    /* 列表区域 给el-table斑马线改样式  #f9f9fa */
                    .el-table--striped .el-table__body tr.el-table__row--striped td {
                        background-color: #f9f9fa !important;
                    }

                    .el-table__body tr:hover {
                        background-color: #e1e2eb !important;
                    }

                }
            }
        }
    }
}

.kft-dialog {
    position: absolute;
    top: -100px; // 每个初始dialog位置，距上
    left: 0; // 每个初始dialog位置，距左

    /* 自定义对话框的样式 */
    .modal_style {
        margin: 0 auto;
        margin-bottom: 0px;
        // margin-left: 15%;
        margin-top: 0 !important;
        width: auto;
        // position: absolute;
        background-color: #F0F0F4;

        .el-dialog__header {
            padding: 0;
            background-color: #F0F0F4;

            .el-dialog__headerbtn {
                display: none;
            }

            .dialog-header {
                background-color: #F0F0F4;
                width: 100%;
                line-height: 31px;
                border-bottom: 1px solid #cccedd;

                span {
                    font-weight: bold;
                    font-size: 14px;
                    color: #596479;
                    padding-left: 20px;
                }

                .icon-btns {
                    float: right;
                    padding-right: 20px;

                    i {
                        text-indent: 10px;
                        color: #596479;
                    }

                    i:hover {
                        cursor: pointer;
                        color: #FFF;
                    }
                }
            }
        }

        .el-dialog__body {
            // padding: 10px !important;
            padding: 14px;
            // padding: 0;
            // background-color: #F0F0F4;

            // .dialog-body {
            // background-color: aquamarine;
            // max-height: calc(100% - 68px);
            // max-height: calc(80vh - 68px);
            max-height: calc(100vh - 48px);
            overflow: auto;

            // /* 左侧可拖拽区域 */
            // .drop_left {
            //     background-color: brown;
            //     position: absolute;
            //     width: 14px;
            //     height: auto;
            // }


            &::-webkit-scrollbar {
                width: 6px;
                height: 6px;
                background-color: #f5f5f5;
            }

            &::-webkit-scrollbar-thumb {
                background: transparent;
                border-radius: 4px;
            }

            &:hover::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.12);
            }

            &:hover::-webkit-scrollbar-track {
                border-radius: 10px;
            }

            /* 窗体 —— 列表页 */
            .modal_list {

                /*  查询区域 给el-form加样式 */
                .el-form {
                    padding: 14px 20px 14px 0;
                    margin-bottom: 20px;
                    box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.1);
                    border-radius: 4px;
                    border: 1px solid #ebeef5;
                    /* el-form背景色透明化 */
                    // background-color: rgba(0, 0, 0, 0);
                }

                .el-table {
                    background-color: rgba(0, 0, 0, 0) !important;

                    // .el-table__header tr {
                    //     border: 1px solid #BABCC7 !important;
                    //     border-bottom: 0;
                    // }
                }

                .el-table tr {
                    background-color: rgba(0, 0, 0, 0) !important;
                }

                .el-table__body tr>td {
                    background-color: rgba(0, 0, 0, 0) !important;
                }

                /* 列表区域 给el-table斑马线改样式  #f9f9fa */
                .el-table--striped .el-table__body tr.el-table__row--striped td {
                    // background-color: rgba(0, 0, 0, 0) !important;
                    background-color: #f9f9fa;
                }

                /* 分页组件 样式重置 */
                .el-pagination {

                    /* 按钮背景色透明 */
                    button {
                        background-color: rgba(0, 0, 0, 0);
                    }

                    /* 页码背景色透明 */
                    .el-pager li {
                        background-color: rgba(0, 0, 0, 0);
                    }
                }
            }
        }


    }

}