$bg-color: rgb(32, 51, 93);     // cell-tinting-style1
$bg-color1: #417abb;
$bg-color2: rgb(255,255,255);
$bg-color3:#2e2f2f;
$color1: rgb(255,255,255);
$title-color: #ae5c30;
$red:red;
$main-bg: #417ABB;
$main-border: #295D99;
$input_bg: #F3F4F6;
$input_border: #EAEDF6;
$bg-btn-orange: #F4E6E0;
$bg-btn-blue: #DAE0EC;
$menu-text-color: #b6bfcd;
$tree-table-row-text: #7487A0;
$cell-tinting-highest: #DAE0EC