/*
 * @Author: Satya 
 * @Date: 2020-10-23 09:37:59 
 * @Last Modified by: Satya
 * @Last Modified time: 2020-10-23 09:38:21
 * doc:kid-blocks 样式表
 */

.blocklyBlockDragSurface {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: visible !important;
  z-index: 50; /* 显示在工具箱下方，但在其他所有上方. */
  background-color: aqua;
  width: 10vw;
  height: 10vh;
}
